@import "./mixins.scss";

$--color-theme: #32a1ff !default;

$--font-size-tiny: 10px !default;
$--font-size-small: 12px !default;
$--font-size-base: 13px !default;
$--font-size-medium: 14px !default;
$--font-size-big: 15px !default;
$--font-size-biger: 16px !default;
$--font-size-large: 18px !default;

$--font-color-dark: #333 !default;
$--font-color-medium: #666 !default;
$--font-color-light: #999 !default;
